/.terraform/*
/crash.log
/crash.*.log
/*.tfvars
/*.tfvars.json
/override.tf
/override.tf.json
/*_override.tf
/*_override.tf.json
/.terraformrc
/terraform.rc
/.terraform.lock.hcl
/kubeconfig.yaml
/kubeconfig.yaml-e
/lb_ip
/k3s_node_token
/kubeconfig.yaml
/kubeconfig.yaml-e
/history.txt
/k8s/cfSecMod.yaml
