---
import BaseLayout from "@layouts/BaseLayout.astro";
import { defaultLocale, locales } from "@lib/i18n";
import "./guitar.css";

export function getStaticPaths() {
	return locales.map((locale) => ({
		params: {
			locale: locale === defaultLocale ? undefined : locale,
		},
		props: { locale },
	}));
}

const { locale = defaultLocale } = Astro.props;
---

<section id="vertical">
	<div class="container">
		<div class="vertical__content">
			<div class="col col_left">
				<h2 class="vertical__heading">
					<span>About</span><span>Smooth</span><span>Scroll</span>
				</h2>
			</div>
			<div class="col col_right">
				<div class="vertical__item">
					<h3>Smooth Scroll Lenis</h3>
					<p>
						Lenis is an open-source library built to standardize scroll experiences and sauce up
						websites with butter-smooth navigation, all while using the platform and keeping it
						accessible.
					</p>
				</div>
				<div class="vertical__item">
					<h3>Smooth Scroll Lenis</h3>
					<p>
						Lenis is an open-source library built to standardize scroll experiences and sauce up
						websites with butter-smooth navigation, all while using the platform and keeping it
						accessible.
					</p>
				</div>
				<div class="vertical__item">
					<h3>Smooth Scroll Lenis</h3>
					<p>
						Lenis is an open-source library built to standardize scroll experiences and sauce up
						websites with butter-smooth navigation, all while using the platform and keeping it
						accessible.
					</p>
				</div>
				<div class="vertical__item">
					<h3>Smooth Scroll Lenis</h3>
					<p>
						Lenis is an open-source library built to standardize scroll experiences and sauce up
						websites with butter-smooth navigation, all while using the platform and keeping it
						accessible.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="horizontal">
	<div class="container">
		<div class="horizontal__content">
			<div class="horizontal__item">
				<div class="horizontal__num">1</div>
			</div>
			<div class="horizontal__item">
				<div class="horizontal__num">2</div>
			</div>
			<div class="horizontal__item">
				<div class="horizontal__num">3</div>
			</div>
			<div class="horizontal__item">
				<div class="horizontal__num">4</div>
			</div>
			<div class="horizontal__item">
				<div class="horizontal__num">5</div>
				<div class="hidden-section">
					<div class="colorful-content">
						<h2>Welcome Inside!</h2>
						<p>This is the hidden colorful section revealed when zooming into the card</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="./guitar.ts"></script>
