---
import BaseLayout from "@layouts/BaseLayout.astro";
import { defaultLocale, locales } from "@lib/i18n";
import background1 from "@/assets/images/background1.jpg";
import "./guitar.css";
import { Image } from "astro:assets";

export function getStaticPaths() {
	return locales.map((locale) => ({
		params: {
			locale: locale === defaultLocale ? undefined : locale,
		},
		props: { locale },
	}));
}

const { locale = defaultLocale } = Astro.props;
---

<div class="h-screen w-screen">
	<Image src={background1} alt="background1" />
</div>

<script src="./guitar.ts"></script>
